<!DOCTYPE html>
<html lang="pt" ng-app="drawingApp">
	<head>
		<title>DesenArt</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<!-- JQuery -->
		<script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>

		<!-- AngularJS -->
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>

		<!-- Nossos JSs -->
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/drawing-script.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>

		<!-- Nossos CSSs -->
		<link rel="stylesheet" href="css/app.css"/>
	</head>
	<body ng-controller="ScreenController as screenCtrl" ng-init="screenCtrl.setCurrentScreen('home')">
		<div ng-controller="UserController as userCtrl">
			<navigation-bar></navigation-bar>

			<!-- Página inicial-->
			<div id="home" class="text-center" ng-show="screenCtrl.currentScreen === 'home'">
				<h1>Bem-vindo, <span>{{userCtrl.info.username}}</span></h1>
				<h1>Sua pontuação atual é <span>{{userCtrl.info.points}}</span></h1>
				<br/>
				<p>Utilize a barra de navegação superior para iniciar uma nova partida ou adivinhar os desenhos enviados para você!</p>
			</div>

			<!-- ÁREA DE CONTROLE SOBRE NOVAS PARTIDAS -->
			<div id="new-drawing-game" ng-controller="DrawingController as drawingCtrl" class="new-game text-center">

				<!-- Lista de temas do desenho que o usuário escolherá para desenhar -->
				<div id="drawing-theme-list" ng-show="screenCtrl.currentScreen === 'drawing-theme-list'">
					<h3>Escolha uma das opções para você fazer o desenho:</h3>
					<br/>
					<div ng-repeat="drawingOption in drawingCtrl.drawingOptions.wordOptions" class="drawing-option clearfix">
						<a ng-click="drawingCtrl.setDrawingTheme(drawingOption.word); screenCtrl.setCurrentScreen('users-list')">
							<p class="label-text pull-left" style="background-color: {{drawingOption.color}}">{{drawingOption.level}}</p>
							<p class="pull-left main-text">{{drawingOption.word}}</p>
							<p class="pull-right main-secondary">{{drawingOption.points}} ponto<span ng-if="drawingOption.points > 1">s</span></p>
						</a>
					</div>
					<div class="alert alert-danger" ng-if="drawingCtrl.drawingOptions.length == 0">
						Ocorreu um erro ao listar as opções para desenho. Por favor, recarregue a página.
					</div>
				</div>

				<!-- Lista de usuários. O jogador escolherá um usuário para enviar o desenho -->
				<div id="users-list" ng-show="screenCtrl.currentScreen === 'users-list'">
					<h3>Escolha para quem você enviará o desenho com o tema "{{drawingCtrl.drawingModel.theme}}"</h3>
					<br/>
					<div class="drawing-option-header input-group">
						<input type="text" class="form-control" ng-keyup="drawingCtrl.searchUser(searchUserQuery)" placeholder="Filtre a lista de usuários por aqui" ng-model="searchUserQuery"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="drawingCtrl.searchUser(searchUserQuery)">Pesquisar</button>
						</span>
					</div>
					<div ng-repeat="availableUser in drawingCtrl.availableUsers.users | filter:searchUserQuery" class="drawing-option clearfix">
						<a ng-click="drawingCtrl.setDrawingToUser(availableUser.username); screenCtrl.setCurrentScreen('drawing-area')">
							<p class="pull-right main-secondary">{{availableUser.email}}</p>
							<p class="label-text pull-left" style="background-color: {{availableUser.color}}">{{availableUser.points}}<span>pontos</span></p>
							<p class="pull-left main-text">{{availableUser.username}}</p>
						</a>
					</div>
				</div>

				<!-- Área do desenho -->
				<div id="drawing" ng-show="screenCtrl.currentScreen === 'drawing-area'">
					<h3>Crie o seu desenho com o tema "{{drawingCtrl.drawingModel.theme}}" para o usuário "{{drawingCtrl.drawingModel.toUser}}"</h3>
					<br/>
					<div class="drawing-container">
						<div id="drawing-area">
							<!-- Aqui será adicionado o canvas para o desenho -->
						</div>
						<div id="drawing-colors">
							<button class="btn btn-default paint-color" 
								ng-click="drawingCtrl.pickColor(availableColor)"
								ng-repeat="availableColor in userCtrl.info.availableColors">
								<i class="glyphicon glyphicon-tint" style="color: {{availableColor.details}}"></i>
								<br/>
								{{availableColor.desc}}
							</button>
							<!-- Aqui serão adicionadas as cores que o usuário possui -->
						</div>
						<div id="drawing-tools">
							<button class="btn btn-default paint-tool" 
								ng-click="drawingCtrl.pickTool(availableTool)"
								ng-repeat="availableTool in userCtrl.info.availableTools">
								<i class="glyphicon glyphicon-pencil"></i>
								<br/>
								{{availableTool.desc}}
							</button>
							<!-- Aqui serão adicionadas as ferramentas que o usuário possui -->
						</div>
						<br/>
						<div>
							<button class="btn btn-danger pull-left erase" ng-click="drawingCtrl.erase()"><i class="glyphicon glyphicon-erase"></i> Limpar</button>
							<button class="btn btn-default pull-left cancel" ng-click="drawingCtrl.cancel()"><i class="glyphicon glyphicon-remove"></i> Cancelar partida</button>
							<button class="btn btn-primary pull-right send" ng-click="drawingCtrl.send()"><i class="glyphicon glyphicon-ok"></i> Terminei!</button>
							<br/>
							<br/>
						</div>
					</div>
				</div>
			</div>




			<div id="new-guessing-game" ng-controller="GuessingController as guessingCtrl" class="new-game text-center">
				<div id="guesses-drawing-list" ng-show="screenCtrl.currentScreen === 'guesses-drawing-list'">
					<h3>Escolha o desenho que você deseja adivinhar</h3>
					<br/>
					<div class="drawing-option-header input-group" ng-if="guessingCtrl.drawingToGuess.guess.length > 0">
						<input type="text" class="form-control" ng-keyup="guessingCtrl.searchUser(guessingCtrl.searchDrawingUserQuery, userCtrl.info.username)" placeholder="Filtre a lista de usuários por aqui" ng-model="guessingCtrl.searchDrawingUserQuery"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="guessingCtrl.searchUser(guessingCtrl.searchDrawingUserQuery, userCtrl.info.username)">Pesquisar</button>
						</span>
					</div>
					<div ng-repeat="drawingToGuess in guessingCtrl.drawingToGuess.guess | filter:guessingCtrl.searchDrawingUserQuery" class="drawing-option clearfix">
						<a ng-click="guessingCtrl.setDrawingToGuess(drawingToGuess); screenCtrl.setCurrentScreen('guess-the-drawing')">
							<p class="pull-right main-secondary">{{drawingToGuess.letters.length}} espaços</p>
							<p class="label-text pull-left" ng-class="guessingCtrl.getColor(drawingToGuess.points)">{{drawingToGuess.points}}<span>pontos</span></p>
							<p class="pull-left main-text">{{drawingToGuess.username}}</p>
						</a>
					</div>
					<div class="alert alert-success" ng-if="guessingCtrl.drawingToGuess.guess.length == 0">
						Ninguém enviou desenhos para você adivinhar ainda...
					</div>
				</div>
				<div id="guess-the-drawing" ng-show="screenCtrl.currentScreen === 'guess-the-drawing'">
					<h3>Adivinhe o desenho abaixo</h3>
					<br/>
					<canvas id="drawing-to-guess"></canvas>
					<div class="guess-the-drawing-word" style="width: {{guessingCtrl.selectedDrawingToGuess.letters.length * 25}}px">
						<p>{{guessingCtrl.selectedDrawingToGuess.letters}}</p>
						<input type="text" maxlength="{{guessingCtrl.selectedDrawingToGuess.letters.length}}" style="width: {{guessingCtrl.selectedDrawingToGuess.letters.length * 25}}px" 
						ng-model="guessingCtrl.drawingGuess"
						ng-disabled="guessingCtrl.checkingGuess || guessingCtrl.selectedDrawingToGuessCorrectlyGuessed"/>
					</div>
					<br/>
					<button class="btn btn-primary send" ng-click="guessingCtrl.guess(guessingCtrl.selectedDrawingToGuess, guessingCtrl.drawingGuess, userCtrl.info)" ng-disabled="guessingCtrl.checkingGuess || guessingCtrl.selectedDrawingToGuessCorrectlyGuessed"><i class="glyphicon glyphicon-ok"></i> Acho que adivinhei!</button>
					<br/>
					<br/>
					<div class="alert alert-info" ng-show="guessingCtrl.checkingGuess">Aguarde. Estamos verificando sua resposta</div>
					<div class="alert alert-danger" ng-show="guessingCtrl.checkingGuessError">Ocorreu um erro ao verificar sua resposta. Por favor, tente novamente mais tarde.</div>
					<div class="alert alert-success" ng-show="guessingCtrl.triedToGuess && guessingCtrl.selectedDrawingToGuessCorrectlyGuessed">PARABÉNS! Você acertou!</div>
					<div class="alert alert-danger" ng-show="guessingCtrl.triedToGuess && !guessingCtrl.selectedDrawingToGuessCorrectlyGuessed">Você errou... Tente novamente!</div>
				</div>
			</div>


			<div id="shopping-items-list" ng-show="screenCtrl.currentScreen === 'shopping-items-list'"
				ng-controller="ShoppingController as shoppingCtrl" class="shopping-page text-center">
				<h3>Cores disponíveis:</h3>
				<div class="clearfix shopping-items-container">
					<br/>
					<div ng-repeat="availableColor in shoppingCtrl.availableItems.availableColors" class="pull-left clearfix text-center shopping-item">
						<p class="label-text" style="background-color: {{availableColor.details}}">
							<i class="glyphicon glyphicon-tint"></i>
						</p>
						<p class="main-text">{{availableColor.desc}}</p>
						<p class="main-secondary">{{availableColor.price}} ponto<span ng-if="availableColor.price > 1">s</span>
						</p>
						<button class="btn btn-lg btn-success btn-buy-item" 
							ng-click="shoppingCtrl.buyItem(availableColor, userCtrl.info, 'color')"
							ng-disabled="userCtrl.hasItem('color', availableColor.id)">
							Comprar!
						</button>
					</div>
				</div>
				<br/><br/>
				<h3>Ferramentas disponíveis:</h3>
				<div class="clearfix shopping-items-container">
					<br/>
					<div ng-repeat="availableTool in shoppingCtrl.availableItems.availableTools" class="pull-left clearfix text-center shopping-item tool-item">
						<p class="label-text">
							<i class="glyphicon glyphicon-pencil"></i>
						</p>
						<p class="main-text">{{availableTool.desc}}</p>
						<p class="main-secondary">{{availableTool.price}} ponto<span ng-if="availableTool.price > 1">s</span>
						</p>
						<button class="btn btn-lg btn-success btn-buy-item" 
							ng-click="shoppingCtrl.buyItem(availableTool, userCtrl.info, 'tool')"
							ng-disabled="userCtrl.hasItem('tool', availableTool.id)">
							Comprar!
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>