canvas {
	border: 3px dashed lightgray;
}

#login-form, #create-account-form {
	width: 300px;
	margin: 0px auto;
}

#create-account-form {
	width: 400px
}


#login-form input, #create-account-form input {
	margin: 10px 0
}

.ng-submitted .ng-invalid, .ng-invalid.ng-dirty {
  border-color: red
}

.ng-valid.ng-dirty{
  border-color: green;
}

.error {
	color: red;
	font-size: 12px;
	display: block;
	text-align: left;
	margin-bottom: 10px
}

#home h1 span {
	color: #29CC3F;
	font-size: 75px;
}

#drawing .drawing-container {
	width: 700px;
	margin: 0 auto;
}

#drawing .erase {
	margin-left: 120px;
}

#drawing .cancel {
	margin-left: 10px;
}

#drawing .send {
	margin-right: 120px;
}

.new-game, .shopping-page {
	font-size: 25px;
}

.drawing-option, .drawing-option-header {
	width: 500px;
	margin: 5px auto 20px auto;
}

.drawing-option {
	cursor: pointer;
	border: 1px solid #F5F5F5;
}

.drawing-option:hover {
	background-color: #F5F5F5;
}

.new-game p, .shopping-page {
	margin: 0;
}

.new-game a {
	display: block;
	width: 500px;
	height: 75px;
	padding: 10px;
}

.new-game .label-text, .shopping-page .label-text{
	color: white;
	border-radius: 5px 30px 5px 30px;
    padding: 10px; 
    width: 110px;
    font-weight: bold;
    margin: 0px;
}

.new-game .label-text span, .shopping-page .label-text span {
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-top: -10px;
	padding: 0;
}

.new-game .main-text {
	font-weight: bold;
	margin: 5px 0 0 30px;
}

.new-game .main-secondary {
	color: #B0B0B0;
	font-size: 12px;
}

.level-easy {
	background-color: #8AC007;
}

.level-medium {
	background-color: #FFB81E;
}

.level-hard {
	background-color: #D71D1D;
}

.new-game .label-text, .shopping-page .label-text {
	padding-top: 5px;
}

.guess-the-drawing-word {
	width: 300px;
	margin: 0 auto;
}

.guess-the-drawing-word p {
	position: absolute;
	z-index: -10;
	text-align: left;
}

.guess-the-drawing-word input {
	background-color: transparent;
	text-transform: uppercase;
	font-size: 19px;
}

#guess-the-drawing canvas {
	width: 490px;
	height: 350px;
}

.guess-the-drawing-word p, .guess-the-drawing-word input {
	letter-spacing: 10px;
	width: 300px;
	border: 0;
}

.paint-color, .paint-tool {
	font-size: 12px;
	width: 70px;
	margin: 5px;
}

.paint-tool {
	font-size: 14px;
}

.paint-color i, .paint-tool i {
	font-size: 30px;
}

.shopping-page .shopping-items-container {
	margin: 30px;
}

.shopping-page .label-text {
	border-radius: 40px;
	width: 75px;
	padding: 10px;
	font-size: 35px;
	margin-left: 55px;
}

.shopping-page .shopping-item {
	margin: 20px;
	width: 180px;
}

.shopping-page .shopping-item .main-text {
	font-size: 20px;
}

.shopping-page .shopping-item .main-secondary {
	font-size: 12px;
	font-style: italic;
	color: #B0B0B0;
}

.btn-buy-item {
	width: 120px;
	height: 45px;
	-webkit-transition: width .5s, height .5s; /* Safari */
    transition: width .5s, height .5s;
}

.btn-buy-item:hover {
	height: 55px;
	width: 150px;
}

.shopping-page .tool-item .label-text {
	background-color: #00bfff;
	border-radius: 0;
}