<!DOCTYPE html>
<html lang="pt" ng-app="drawingApp">
	<head>
		<title>DesenArt</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<!-- JQuery -->
		<script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
		
		<!-- AngularJS -->
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-cookies.js"></script>

		<!-- Nossos JSs -->
		<script type="text/javascript" src="js/app.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>

		<!-- Nosso CSS -->
		<link rel="stylesheet" href="css/app.css"/>
	</head>
	<body ng-controller="ScreenController as screen" ng-init="screen.setCurrentScreen('registration')">
		<navigation-bar></navigation-bar>
		<div class="container">
			<div id="create-account-form" class="well well-lg text-center">
				<h3>Criar uma conta</h3>
				<form name="registrationForm" novalidate ng-controller="RegistrationController as registrationCtrl">
					<input type="email" name="userEmail" placeholder="E-mail" class="form-control" ng-model="email" required/>
					<input type="text" name="userUsername" placeholder="Usuário" class="form-control" ng-model="registrationCtrl.username" required/>
					<input type="password" name="userPassword" id="userPassword" placeholder="Senha" class="form-control" ng-model="password" required/>
					<input type="password" name="userReenterPassword" placeholder="Confirmação da senha" class="form-control" ng-model="confirmPassword" compare-to="password" required/>
					<span class="error" ng-show="registrationForm.userReenterPassword.$error.compareTo && registrationForm.userReenterPassword.$dirty">Senhas informadas não correspondem</span>
					<button type="submit" class="btn btn-lg btn-primary" ng-disabled="!registrationForm.$valid" ng-click="registrationCtrl.register()">Criar conta!</button>
				</form>
			</div>
		</div>
	</body>
</html>